*{
    padding: 0;
    margin: 0;
}
.site-nav, .footer-text{
    background-color: #6E6E6E;
    padding: 15px;
}

.nav-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.nav-item{
    margin-right: 50px;
}
.nav-item a{
    text-decoration: none;
    color: #FFFFFF;
}
.footer-text{
    text-align: center;
    color: #FFFFFF;
}


.msg-success, .msg-error{
    color: #FFFFFF;
    text-align: center;
}
.msg-success{
    background-color: #6b9311;
}
.msg-error{
    background-color: #AA3333;
}