@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" );
@import url("https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic");


body{
    /background: url('../img/bg.jpg') no-repeat center center fixed;
    background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);

}
.navbar-nav li a{
    letter-spacing: normal;
    padding:35px 15px 35px 15px;
}
form{
    text-align: center;
}
form input{
    text-align: center;
}
.offer-item a img{
    transition: all 0.5s;
}
.offer-item a:hover img{
    transform: scale(1.1);
}

/* mighty css spell to preserve element height while img loads*/
.offer-item a{
    display: block;
    padding-bottom:65.21%;
    height:0;
    position:relative;
}
.offer-item img {
    width:100%;
    height:100%;
    display:block;
    position:absolute;
}


.my-products-btn{
    text-align: center;
    margin: 20px;
}
.my-product{
    margin: 20px;
}
.list-group-item{
    padding: 0;
}
.list-group-item .category-item{
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    padding: 10px 15px;
}
.list-group-item:hover{
    background-color: rgb(147,206,222);
}
.selected-category{
    background-color: rgb(147,206,222);
}

.admin-page{
    background: linear-gradient(to right, #649173, #dbd5a4);
}


.review-section{
    margin-top: 20px;
}
.my-product tr{
    background-color: #f9f9f9;;
}

.admin-table tr{
    background-color: #fcfcfc;
    margin-top: 20px;
}

#app_bundle_cart_type_purchases label{
    display: none;
}

.purchase-item{

    position: relative;
    min-height: 50px;
}
.purchase-info{
    position: absolute;
    top: -1px;
    left: 46px;
}






